body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", "Arial", sans-serif;
	background-color: #fff;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

img {
	width: 100%;
	height: auto;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

header {
	background-color: #293449;
	font-size: 0;
}

header .title {
	position: relative;
	display: inline-block;
	width: 220px;
	padding: 8px 0;
	vertical-align: top;
	text-align: center;
	background-color: #ee3643;
}

header .title::after {
	content: "";
	position: absolute;
	bottom: -5px;
	right: 0;
	left: 0;
	height: 5px;
	background-color: #b52933;
}

header .title h1 {
	margin: 0;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
}

.search {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.search span {
	position: absolute;
	top: 12px;
	left: 18px;
	font-size: 17px;
	color: #6a7180;
}

.search input[type="search"] {
	width: 270px;
	padding: 12px 45px;
	box-sizing: border-box;
	font-size: 17px;
	font-family: inherit;
	color: #fff;
	text-transform: capitalize;
	background-color: #293449;
	border: none;
	outline: none;
}

.search input[type="search"]::-webkit-input-placeholder {
	color: #fff;
}

.search input[type="search"]:-ms-input-placeholder {
	color: #fff;
}

.search input[type="search"]::placeholder {
	color: #fff;
}

header a {
	display: inline-block;
	width: 150px;
	padding: 12px 0;
	vertical-align: top;
	box-sizing: border-box;
	font-size: 17px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
.bookmarks i,
.cart i {
	color: #6a7180;
}
header .order {
	background-color: #63a63e;
}

.index-top {
	padding-top: 45px;
	padding-bottom: 60px;
	background-color: #f1f5f7;
}

.index-top-panel {
	margin-bottom: 50px;
}

.index-top .desc,
.index-top-number,
.login {
	width: 300px;
	box-sizing: border-box;
}

.index-top .desc {
	float: left;
	margin: 0;
	margin-right: 20px;
	padding: 0;
	padding-left: 53px;
	padding-right: 50px;
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	color: #ee3643;
	font-style: italic;
}

.index-top-number {
	float: left;
}

.index-top-number span:first-child {
	display: inline-block;
	width: 270px;
	padding: 8px 50px;
	box-sizing: inherit;
	vertical-align: top;
	font-size: 21px;
	font-weight: 400;
	color: #e9292a;
	text-align: center;
	border: 3px solid #fff;
}

.index-top-number span:last-child {
	padding: 0 10px;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.login {
	float: right;
	padding-left: 19px;
	font-size: 0;
}

.login a {
	display: inline-block;
	padding: 8px 0;
	box-sizing: border-box;
	vertical-align: top;
	font-size: 21px;
	color: #000;
	text-decoration: none;
	background-color: #fff;
}

.login a:first-child {
	width: 120px;
	margin-right: 10px;
	padding-left: 48px;
}

.login a:last-child {
	width: 150px;
	text-align: center;
}

.top-navigation {}

.top-navigation ul {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.top-navigation li {
	display: inline-block;
	vertical-align: top;
}

.top-navigation a {
	display: block;
	padding: 20px 30px;
	padding-bottom: 15px;
	font-size: 17px;
	color: #fff;
	text-decoration: none;
	background-color: #32425c;
	border-bottom: 5px solid #293449;
}

.top-navigation .navigation-item-1 {
	padding-left: 50px;
	padding-right: 40px;
}

.top-navigation .navigation-item-2 {
	padding-left: 30px;
	padding-right: 31px;
}

.top-navigation .navigation-item-3 {
	padding-left: 29px;
	padding-right: 35px;
}

.top-navigation .navigation-item-4 {
	padding-left: 26px;
	padding-right: 23px;
}

.top-navigation .navigation-item-5 {
	padding-left: 37px;
	padding-right: 33px;
}

.top-navigation .navigation-item-6 {
	padding-left: 29px;
	padding-right: 30px;
}

.top-navigation .navigation-item-7 {
	padding-left: 34px;
	padding-right: 45px;
}

.index-content {
	padding-top: 59px;
	padding-bottom: 85px;
}

.index-categories {
	margin-bottom: 53px;
}

.index-categories h1 {
	margin: 0;
	padding: 0;
}

.category-item {
	float: left;
	width: 300px;
	padding: 24px 23px;
	box-sizing: border-box;
}

.index-categories a {
	color: #fff;
	text-decoration: none;
}

.category-item:not(.category-item-4) span {
	display: inline-block;
	width: 135px;
	margin-top: 1px;
	padding: 10.4px 0;
	vertical-align: top;
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.category-item-1 {
	position: relative;
	background-color: #f6b22d;
	margin-right: 20px;
	margin-bottom: 20px;
	overflow: hidden;
}

.category-item-1::after {
	content: "new";
	position: absolute;
	top: 9px;
	right: -25px;
	display: inline-block;
	width: 100px;
	height: 28px;
	padding: 3px 0;
	box-sizing: border-box;
	vertical-align: top;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #fff;
	text-align: center;
	background-color: #ee3643;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.category-item-2 {
	background-color: #4aafde;
	margin-right: 20px;
	margin-bottom: 20px;
}

.category-item-3 {
	background-color: #cc79d1;
	margin-bottom: 20px;
}

.category-item-4 {
	position: relative;
	width: 620px;
	height: 266px;
	margin-right: 20px;
	padding: 0;
	background-color: #4aafde;
}

.category-item-5 {
	background-color: #85d179;
	margin-bottom: 20px;
}

.category-item-6 {
	background-color: #f6b22d;
}

.category-item-4 img {
	width: 620px;
	height: 266px;
}

.category-item-4 h1 {
	position: absolute;
	top: 0;
	padding: 18px 26px;
	padding-right: 345px;
	box-sizing: border-box;
	font-size: 18px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 400;
}

.category-item-4 .category-title {
	font-size: 36px;
	line-height: 1.3;
	font-weight: 700;
	font-family: "Cuprum", "Arial", sans-serif;
	text-transform: uppercase;
}

.category-item-4 .btn {
	position: absolute;
	left: 25px;
	bottom: 22px;
	display: block;
	width: 195px;
	padding: 10px 0;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	background-color: #ee3643;
	border-radius: 3px;
}
