body {
	position: relative;
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: "Cuprum", "Arial", sans-serif;
	background-color: #fff;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

img {
	width: 100%;
	height: auto;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.btn {
	display: block;
	width: 195px;
	padding: 10.3px 0;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	background-color: #ee3643;
	border-radius: 3px;
}

.btn:hover {
	background-color: #ca2c37;
}

.btn:active {
	background-color: #ba2732;
}

header {
	background-color: #293449;
	font-size: 0;
}

.logo {
	position: relative;
	display: inline-block;
	width: 220px;
	padding: 7.5px 0;
	vertical-align: top;
	text-align: center;
	background-color: #ee3643;
}

.logo::after {
	content: "";
	position: absolute;
	bottom: -5px;
	right: 0;
	left: 0;
	height: 5px;
	background-color: #b52933;
}

.logo h1 {
	margin: 0;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
}

.search {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.search span {
	position: absolute;
	top: 11px;
	left: 18px;
	font-size: 17px;
	color: #6a7180;
}

.search input[type="search"] {
	width: 270px;
	padding: 11.5px 45px;
	box-sizing: border-box;
	font-size: 17px;
	font-family: inherit;
	color: #fff;
	text-transform: capitalize;
	background-color: #293449;
	border: none;
	outline: none;
}

.search input[type="search"]::-webkit-input-placeholder {
	color: #fff;
}

.search input[type="search"]:-ms-input-placeholder {
	color: #fff;
}

.search input[type="search"]::placeholder {
	color: #fff;
}

header a {
	position: relative;
	display: inline-block;
	width: 150px;
	padding: 11.5px 0;
	vertical-align: top;
	box-sizing: border-box;
	font-size: 17px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.bookmarks i,
.cart i {
	position: absolute;
	left: 12px;
	color: #6a7180;
}

header .order {
	background-color: #63a63e;
}

header .search:hover i,
header a:hover i {
	color: #fff;
}

.logo:hover {
	background-color: #ca2c37;
}

header .search input:hover,
header a:not(.order):hover {
	background-color: #212a3a;
}

header .order:hover {
	background-color: #5fbb2d;
}

header a:active i {
	color: #8b8e94;
}

.logo:active {
	background-color: #ba2732;
}

header a:not(.order):active {
	background-color: #161d29;
}

header .order:active {
	background-color: #518534;
}

header .search input:focus::-webkit-input-placeholder {
	color: #000;
}

header .search input:focus:-ms-input-placeholder {
	color: #000;
}

header .search input:focus::placeholder {
	color: #000;
}

header .search input:focus {
	color: #000;
	background-color: #fff;
}

.index-top {
	padding-top: 40px;
	padding-bottom: 55px;
	background-color: #f1f5f7;
}

.index-top-panel {
	margin-bottom: 50px;
}

.index-top .desc,
.index-top-number,
.login {
	width: 300px;
	box-sizing: border-box;
}

.index-top .desc {
	float: left;
	margin: 0;
	margin-right: 20px;
	padding: 0;
	padding-left: 53px;
	padding-right: 50px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #ee3643;
	font-style: italic;
}

.index-top-number {
	float: left;
}

.index-top-number .number {
	position: relative;
	display: inline-block;
	width: 270px;
	padding: 7.7px 0;
	box-sizing: inherit;
	vertical-align: top;
	font-size: 21px;
	font-weight: 400;
	color: #e9292a;
	text-align: center;
	border: 3px solid #fff;
}

.index-top-number i {
	position: absolute;
	top: 10px;
	left: 16px;
	width: 18px;
	height: 19px;
	color: #b7bfc8;
}

.index-top-number span:last-child {
	padding: 0 10px;
	font-size: 14px;
	color: #32425c;
}

.login {
	float: right;
	padding-left: 19px;
	font-size: 0;
}

.login a:not(.order):not(.cabinet) {
	display: inline-block;
	padding: 10.7px 0;
	box-sizing: border-box;
	vertical-align: top;
	font-size: 21px;
	text-align: center;
	color: #000;
	text-decoration: none;
	background-color: #fff;
}

.login .login-enter {
	width: 120px;
	margin-right: 10px;
}

.login .login-registration {
	width: 150px;
}

.login a i {
	color: #c5c5c5;
}

.login a:hover {
	color: #ee3643;
}

.login a:hover i {
	color: #32425c;
}

.login a:active,
.login a:active i {
	color: #c5c5c5;
}

.top-navigation ul {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.top-navigation li {
	display: inline-block;
	vertical-align: top;
}

.top-navigation a,
.top-navigation span {
	display: block;
	padding: 22px 33.6px;
	padding-bottom: 15px;
	font-size: 17px;
	color: #fff;
	text-decoration: none;
	background-color: #32425c;
	border-bottom: 5px solid #293449;
}

.top-navigation a:hover {
	background-color: #293449;
}

.top-navigation a:active {
	background-color: #293449;
}

.index-content {
	padding-top: 59px;
	padding-bottom: 85px;
}

.index-categories {
	margin-bottom: 53px;
}

.index-categories h1 {
	margin: 0;
	margin-bottom: 6.5px;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}

.category-item {
	float: left;
}

.category-item a {
	color: #fff;
	text-decoration: none;
}

.category-item:not(.category-item-4) a {
	position: relative;
	display: block;
	width: 300px;
	padding: 24px 23px;
	box-sizing: border-box;
}

[class*="category-item-"]:not(.category-item-4) a::before {
	content: "";
	position: absolute;
	top: 30px;
	right: 20px;
	width: 78px;
	height: 72px;
	background: url("../img/sprite.png") no-repeat;
}

[class*="category-item-1"]:not(.category-item-4) a::before {
	background-position: -390px -889px;
}

[class*="category-item-2"]:not(.category-item-4) a::before {
	background-position: -216px -889px;
}

[class*="category-item-3"]:not(.category-item-4) a::before {
	background-position: -118px -889px;
}

[class*="category-item-5"]:not(.category-item-4) a::before {
	background-position: -311px -889px;
}

[class*="category-item-6"]:not(.category-item-4) a::before {
	background-position: -30px -889px;
}

.category-item:not(.category-item-4) span {
	display: inline-block;
	width: 135px;
	padding: 10.4px 0;
	vertical-align: top;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.category-item:not(.category-item-4) span:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.category-item:not(.category-item-4) span:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.category-item-1 {
	position: relative;
	background-color: #f6b22d;
	margin-right: 20px;
	margin-bottom: 20px;
	overflow: hidden;
}

.category-item-1 a::after {
	content: "new";
	position: absolute;
	top: 9px;
	right: -25px;
	display: inline-block;
	width: 100px;
	height: 28px;
	padding: 3px 0;
	box-sizing: border-box;
	vertical-align: top;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #fff;
	text-align: center;
	background-color: #ee3643;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.category-item-2 {
	background-color: #4aafde;
	margin-right: 20px;
	margin-bottom: 20px;
}

.category-item-3 {
	background-color: #cc79d1;
	margin-bottom: 20px;
}

.category-item-4 {
	position: relative;
	width: 620px;
	height: 266px;
	margin-right: 20px;
	background-color: #d4c2aa;
}

.category-item-5 {
	background-color: #85d179;
	margin-bottom: 20px;
}

.category-item-6 {
	background-color: #f6b22d;
}

.category-item-4 h1 {
	position: absolute;
	top: 0;
	padding: 18px 26px;
	padding-right: 345px;
	box-sizing: border-box;
	z-index: 1;
	font-size: 18px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 400;
	color: #fff;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}

.category-item-4 .title-1 {
	opacity: 0;
}

.category-item-4 .title-2 {
	opacity: 0;
}

.category-item-4 .category-title {
	display: block;
	font-size: 36px;
	line-height: 1.3;
	font-weight: 700;
	font-family: "Cuprum", "Arial", sans-serif;
	text-transform: uppercase;
}

.category-item-4 .btn {
	position: absolute;
	left: 25px;
	bottom: 22px;
	z-index: 2;
}

.category-item-4 input[type=radio] {
	display: none;
}

.slider-inner {
	overflow: hidden;
}

.slider-slides {
	width: 200%;
	-webkit-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.slider-slides img {
	float: left;
	width: 620px;
	height: 266px;
}

.category-item-4 label {
	position: absolute;
	top: 114px;
	z-index: 1;
	font-size: 40px;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}

.category-item-4 label[for="btn-1"] {
	left: 25px;
}

.category-item-4 label[for="btn-2"] {
	right: 25px;
}

#btn-1:checked~.slider-inner .slider-slides {
	-webkit-transform: translate(0);
	transform: translate(0);
}

#btn-2:checked~.slider-inner .slider-slides {
	-webkit-transform: translate(-620px);
	transform: translate(-620px);
}

.category-item-4 label[for="btn-1"]::before,
.category-item-4 label[for="btn-2"]::before {
	content: "";
	position: absolute;
	bottom: -70px;
	width: 6px;
	height: 6px;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 50%;
}

.category-item-4 label[for="btn-1"]::before {
	left: 270px;
}

.category-item-4 label[for="btn-2"]::before {
	right: 270px;
}

#btn-1:checked~label[for="btn-1"]::before,
#btn-2:checked~label[for="btn-2"]::before {
	background-color: #ee3643;
}

#btn-1:checked~.title-1 {
	opacity: 1;
}

#btn-2:checked~.title-2 {
	opacity: 1;
}

.index-popular {
	margin-bottom: 20px;
	padding: 26px 24px;
	background-color: #f7f3ec;
}

.index-popular h2 {
	float: left;
	margin: 0;
	padding-top: 4px;
	font-size: 30px;
	color: #32425c;
	text-transform: uppercase;
}

.index-popular .btn {
	float: right;
}

.index-items {
	margin-bottom: 20px;
}

.index-item {
	position: relative;
	float: left;
	width: 220px;
	padding-top: 170px;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	overflow: hidden;
}

.index-item:hover,
.brand-item:hover {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brand-item:active {
	opacity: 0.3;
	box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.index-item a {
	text-decoration: none;
}

.index-item:not(:nth-child(4n)) {
	margin-right: 20px;
}

.index-item figure {
	position: absolute;
	top: 0;
}

.index-item:hover figure {
	opacity: 0;
}

.index-item .img-1 {
	margin: 0;
	padding: 6px 19px 13px 17px;
}

.index-item .img-2 {
	margin: 0;
	padding: 29px 53px 42px 40px;
}

.index-item .img-3 {
	margin: 0;
	padding: 22px 49px 33px 27px;
}

.item-buttons {
	position: absolute;
	top: 0;
	padding: 44px 42px 55px 41px;
	opacity: 0;
}

.index-item:hover .item-buttons {
	opacity: 1;
}

.item-buttons a:first-of-type:hover {
	background-color: #5fbb2d;
}

.item-buttons a:first-of-type:hover i,
.item-buttons a:first-of-type:active i {
	opacity: 1;
}

.item-buttons a:last-of-type:hover {
	color: #32425c;
	border-color: #32425c;
}

.item-buttons a:first-of-type:active {
	background-color: #518534;
}

.item-buttons a:last-of-type:active {
	color: #c1c6ce;
	border-color: #c1c6ce;
}

.item-buttons a {
	position: relative;
	display: block;
	width: 135px;
	padding: 13px 0;
	box-sizing: border-box;
	font-size: 14px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	border-radius: 3px;
}

.item-buttons a i {
	position: absolute;
	left: 12px;
	width: 17px;
	height: 16px;
	font-size: 17px;
	line-height: 18px;
	opacity: 0.3;
}

.item-buttons a:first-of-type {
	margin-bottom: 7px;
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 #367315;
}

.item-buttons a:last-of-type {
	padding: 10px 0;
	color: #32425c;
	border: 3px solid #63a63e;
}

.index-item-text {
	display: inline-block;
	padding: 0 30px;
	padding-bottom: 20px;
	vertical-align: top;
	font-family: "PT Sans", "Arial", sans-serif;
	text-align: center;
}

.index-item-text h1 {
	margin: 0;
	margin-bottom: 14px;
	padding: 0;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #000;
}

.index-item-text span {
	font-size: 17px;
	text-transform: uppercase;
}

.index-item-text .price-old {
	color: #999999;
	text-decoration: line-through;
}

.index-item-text .price-new {
	position: relative;
	display: inline-block;
	width: 103px;
	margin-top: 14px;
	padding: 9.7px 0;
	vertical-align: top;
	color: #fff;
	background-color: #ee3643;
}

.index-item:last-child span {
	margin-top: 33px;
}

.labeled::after {
	content: "new";
	position: absolute;
	top: 9px;
	right: -25px;
	display: inline-block;
	width: 100px;
	height: 28px;
	padding: 3px 0;
	box-sizing: border-box;
	vertical-align: top;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #fff;
	text-align: center;
	background-color: #ee3643;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.index-item-text .price-new::after {
	content: "";
	position: absolute;
	right: -18.8px;
	bottom: 0;
	width: 0;
	height: 0;
	border: 19.4px solid transparent;
	border-left-color: #ee3643;
	border-right: 0;
}

.brand-item {
	float: left;
	width: 220px;
	box-sizing: border-box;
	border: 1px solid #e5e5e5;
}

.brand-item figure {
	margin: 0;
	padding: 0;
}

.brand-item:not(:nth-child(4n)) {
	margin-right: 20px;
}

.brand-item:nth-child(-n+4) {
	margin-bottom: 20px;
}

.brand-item:nth-child(1) img {
	width: 126px;
	height: 37px;
}

.brand-item:nth-child(2) img {
	width: 123px;
	height: 40px;
}

.brand-item:nth-child(3) img {
	width: 146px;
	height: 44px;
}

.brand-item:nth-child(4) img {
	width: 200px;
	height: 88px;
}

.brand-item:nth-child(5) img {
	width: 169px;
	height: 31px;
}

.brand-item:nth-child(6) img {
	width: 121px;
	height: 73px;
}

.brand-item:nth-child(7) img {
	width: 151px;
	height: 96px;
}

.brand-item:nth-child(8) img {
	width: 204px;
	height: 69px;
}

.brand-item:nth-child(1) figure img {
	padding: 53px 47px 55px 47px;
}

.brand-item:nth-child(2) figure img {
	padding: 50px 49px 55px 48px;
}

.brand-item:nth-child(3) figure img {
	padding: 48px 37px 53px 37px;
}

.brand-item:nth-child(4) figure img {
	padding: 21px 11px 36px 9px;
}

.brand-item:nth-child(5) figure img {
	padding: 58px 23px 56px 28px;
}

.brand-item:nth-child(6) figure img {
	padding: 35px 51px 37px 35px;
}

.brand-item:nth-child(7) figure img {
	padding: 23px 34px 26px 23px;
}

.brand-item:nth-child(8) figure img {
	padding: 34px 6px 42px 10px;
}

.index-services {
	position: relative;
	padding: 56.5px 0;
	padding-bottom: 91px;
	background-color: #f2f6f8;
}

.index-services h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	font-size: 30px;
	color: #32425c;
	text-transform: uppercase;
}

.index-services p {
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
}

.index-services ul {
	position: relative;
	float: left;
	margin: 0;
	margin-right: 80px;
	padding: 0;
	list-style: none;
}

.index-services ul span {
	display: block;
	width: 240px;
	padding: 14.5px 0;
	box-sizing: border-box;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #32425c;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
	cursor: pointer;
}

.index-services .active-item {
	color: #32425c;
	background-color: #fff;
	border: none;
	border-top: 1px solid transparent;
}

.index-services ul {
	position: relative;
}

.index-services ul::before {
	content: "";
	position: absolute;
	top: -35px;
	right: -1px;
	width: 10px;
	height: 272px;
	background: url("../img/sprite.png") no-repeat -430px -595px;
}

.index-services span:not(.active-item):hover {
	background-color: #293449;
}

.services {
	width: 430px;
	margin-bottom: 60px;
}

.delivery,
.garanty,
.credit {
	position: relative;
	z-index: 2;
	float: left;
	width: 300px;
}

.delivery,
.garanty,
.credit {
	display: none;
}

.show {
	display: block;
}

.delivery p,
.garanty p,
.credit p {
	width: 410px;
}

.credit p {
	margin-bottom: 30px;
}

.delivery::before,
.garanty::before,
.credit::before {
	content: "";
	position: absolute;
	top: 21px;
	right: -320px;
	z-index: -1;
	width: 457px;
	height: 245px;
}

.delivery::before {
	background: url("../img/sprite.png") no-repeat -30px 0px;
}

.garanty::before {
	background: url("../img/sprite.png") no-repeat -30px -575px;
	right: -340px;
	width: 400px;
}

.credit::before {
	background: url("../img/sprite.png") no-repeat -70px -275px;
	right: -360px;
}

.index-info {
	padding-top: 80px;
	padding-bottom: 85px;
}

.index-info h2 {
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
	font-size: 30px;
	text-transform: uppercase;
}

.index-info p {
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
	font-size: 13px;
	font-family: "PT Sans", "Arial", sans-serif;
}

.index-info ul {
	margin: 0;
	margin-bottom: 31px;
	padding: 0;
	list-style: none;
}

.index-info li {
	position: relative;
	padding-left: 36px;
}

.index-info li::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}

.index-info li:not(:last-child) {
	margin-bottom: 26px;
}

.info-left {
	float: left;
	width: 520px;
}

.info-right {
	float: right;
	width: 300px;
}

.info-right .btn {
	width: 100%;
}

.map {
	margin-bottom: 37px;
	cursor: pointer;
}

.index-bottom {
	color: #f1f5f7;
	background-color: #32425c;
	padding-bottom: 56px;
}

.index-bottom .logo {
	margin-bottom: 40px;
	padding: 16px 0px;
}

.index-bottom .logo h1 {
	font-size: 30px;
}

.index-bottom a {
	color: inherit;
	text-decoration: none;
}

.index-bottom p {
	width: 290px;
	margin: 0;
	padding: 0;
}

.bottom-navigation {
	float: right;
	width: 550px;
}

.bottom-navigation ul {
	margin: 0;
	padding: 0;
	padding-top: 20px;
	list-style: none;
	font-size: 0;
}

.bottom-navigation li {
	display: inline-block;
	vertical-align: top;
}

.bottom-navigation li:nth-child(6) {
	margin-left: 7px;
}

.bottom-navigation a {
	display: block;
	padding: 12.2px 23.7px;
	font-size: 18px;
	line-height: 24px;
}

.bottom-navigation a:hover {
	text-decoration: underline;
}

.bottom-navigation a:active {
	opacity: 0.5;
}

.bottom-navigation li:nth-child(n+6) a {
	color: #ffd180;
}

footer {
	padding-top: 35px;
	padding-bottom: 29px;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	background-color: #293449;
}

footer p {
	margin: 0;
	padding: 0;
}

footer a {
	color: #f6b22d;
	text-decoration: none;
}

.footer-copyright,
.footer-social,
.footer-email {
	float: left;
}

.footer-site {
	float: right;
}

.footer-copyright {
	width: 230px;
	margin-right: 160px;
}

.footer-social {
	position: relative;
	top: -2px;
	margin-right: 120px;
	font-size: 0;
}

.footer-social a {
	display: inline-block;
	width: 42px;
	height: 42px;
	padding: 12px;
	vertical-align: top;
	box-sizing: border-box;
	font-size: 18px;
	color: #fff;
	text-align: center;
	background-color: #212a3a;
	border-radius: 50%;
}

.footer-social a:hover,
.footer-social a:active {
	background-color: #ee3643;
}

.footer-social a:not(:last-child) {
	margin-right: 4px;
}

.footer-email {
	width: 140px;
}

.footer-site {
	width: 110px;
}

.footer-email a:hover,
.footer-site a:hover {
	text-decoration: underline;
}

.footer-email a:active,
.footer-site a:active {
	color: #e13643;
	text-decoration: none;
}

.close {
	position: absolute;
	top: 5px;
	right: -35px;
	width: 21px;
	height: 21px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.close::before {
	content: "";
	position: absolute;
	top: 0;
	left: 5px;
	width: 5px;
	height: 21px;
	background-color: #ee3643;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close::after {
	content: "";
	position: absolute;
	top: 0;
	left: 5px;
	width: 5px;
	height: 21px;
	background-color: #ee3643;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.modal-map {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 3;
	display: none;
	width: 940px;
	height: 446px;
	margin-left: -470px;
	margin-top: -223px;
	box-shadow: 0 0 14.7px 1.3px rgba(35, 31, 32, 0.5);
}

.modal-map-show {
	display: block;
}

.modal-content {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 3;
	display: none;
	width: 620px;
	height: 430px;
	margin-top: -215px;
	margin-left: -310px;
	box-sizing: border-box;
	font-size: 18px;
	background-color: #fff;
	border-top: 7px solid #ee3643;
	box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-content::after {
	content: "";
	position: absolute;
	bottom: 0;
	z-index: -1;
	width: 100%;
	height: 112px;
	background-color: #f1f1f1;
}

.modal-content-show {
	display: block;
	-webkit-animation: scale 0.5s;
	animation: scale 0.5s;
}

.modal-content-error {
	-webkit-animation: error 0.5s;
	animation: error 0.5s;
}

.modal-content form {
	padding: 0 80px;
	padding-top: 60px;
	padding-bottom: 37px;
}

.modal-content label[for="name"] {
	float: left;
}

.modal-content label[for="email"] {
	float: right;
}

.modal-content input {
	width: 220px;
	margin-bottom: 16px;
}

.modal-content input,
.modal-content textarea {
	margin-top: 8px;
	padding: 8px 15px;
	box-sizing: border-box;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	color: #999999;
	border: 2px solid #d7dcde;
	border-radius: 3px;
}

.modal-content textarea {
	width: 100%;
	min-height: 114px;
	resize: none;
}

.modal-content label[for="letter"] {
	clear: both;
	display: block;
	margin-bottom: 60px;
}

.modal-content .btn {
	width: 100%;
	font-family: inherit;
	border: none;
	border-radius: 3px;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-overlay-show {
	display: block;
	-webkit-animation: opacity 2s;
	animation: opacity 2s;
}


/*Animation*/

@-webkit-keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes scale {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scale {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes error {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@keyframes error {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}


/*Catalog*/

.inner-page .cart {
	background-color: #ee3643;
}

.inner-page .cart:hover,
.inner-page .cart:active {
	background-color: #ee3643;
}

.inner-page .cart i {
	opacity: 0.3;
}

.inner-page .login {
	position: relative;
	padding: 0;
}

.inner-page .login::after {
	content: "";
	position: absolute;
	left: 107px;
	bottom: 5px;
	width: 5px;
	height: 5px;
	background-color: #32425c;
	border-radius: 50%;
}

.inner-page .cabinet-enter {
	position: relative;
	margin-bottom: 4px;
	width: 300px;
}

.inner-page .login i {
	position: absolute;
	width: 20px;
	height: 18px;
}

.inner-page .icon-user {
	left: 15px;
}

.inner-page .icon-login {
	right: 15px;
}

.inner-content {
	padding-top: 20px;
	padding-bottom: 60px;
	background-color: #fff;
}

.breadcrumbs {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-size: 13px;
	list-style: none;
}

.breadcrumbs .icon-home {
	display: inline-block;
	width: 15px;
	height: 12px;
	color: #c1c6ce;
	vertical-align: top;
	font-size: 16px;
}

.breadcrumbs .icon-home:hover {
	color: #000;
}

.breadcrumbs i:not(.icon-home) {
	position: absolute;
	right: 15px;
	width: 8px;
	height: 12px;
	color: #c1c6ce;
	font-size: 14px;
}

.breadcrumbs a,
.breadcrumbs li {
	line-height: 18px;
	color: #000;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}

.breadcrumbs a:hover {
	text-decoration: underline;
}

.breadcrumbs li {
	position: relative;
	display: inline;
	padding-right: 40px;
}

.inner-title {
	margin-bottom: 20px;
	padding: 30px;
	background-color: #f2f6f8;
}

.inner-title h2 {
	margin: 0;
	font-size: 30px;
	color: #32425c;
	text-transform: uppercase;
}

.login .order,
.login .cabinet {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.login .order {
	position: relative;
	margin-right: 32px;
	margin-left: 18px;
}

.inner-page .login a:active {
	color: #c5c5c5;
}

.sidebar {
	float: left;
	width: 220px;
	font-size: 13px;
}

.form-sidebar h3 {
	margin: 20px 0;
	font-size: 17px;
}

.form-sidebar {
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
}

.filter {
	padding: 12px 18px;
}

.range {
	position: relative;
	height: 80px;
	margin-bottom: 9px;
}

.filter,
.range,
input[type="text"] {
	background-color: #f7f3ec;
	border-radius: 3px;
}

.range::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 20px;
	z-index: 1;
	width: 180px;
	height: 2px;
	background-color: #d7dcde;
}

.range::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 20px;
	z-index: 2;
	width: 152px;
	height: 2px;
	background-color: #00ca74;
}

.range-left,
.range-right {
	position: absolute;
	top: 30px;
	z-index: 3;
	width: 20px;
	height: 20px;
	background-color: #fff;
	box-shadow: 0 2px 0 rgba(0, 1, 1, 0.14);
	border-radius: 50%;
}

.range-left {
	left: 20px;
}

.range-right {
	right: 40px;
}

.range-left::before,
.range-right::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 8px;
	width: 4px;
	height: 4px;
	background-color: #ababab;
	border-radius: 50%;
}

.form-sidebar input[type="text"] {
	padding: 10px 0;
	width: 95px;
	font-size: 17px;
	text-align: center;
	text-transform: uppercase;
	border: none;
}

span.hr {
	margin: 0 4px;
	font-size: 16px;
}

h3.sidebar-title {
	position: relative;
	margin-top: 45px;
}

h3.sidebar-title::before {
	content: "";
	position: absolute;
	top: -19px;
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
}
.form-sidebar label {
	font-size: 15px;
	line-height: 20px;
}
.checkbox,
.radio {
	position: relative;
	display: block;
	margin-bottom: 25px;
	padding-left: 35px;
	cursor: pointer;
}

.checkbox input[type="checkbox"],
.radio input[type="radio"] {
	display: none;
}

.checkbox input[type="checkbox"]+span {
	position: absolute;
	top: -2px;
	left: 0;
	width: 20px;
	height: 20px;
	border: 3px solid #c1c1c1;
	border-radius: 5px;
}

.radio input[type="radio"]+span {
	position: absolute;
	top: -4px;
	left: 0;
	width: 21px;
	height: 21px;
	border: 4px solid #c1c1c1;
	border-radius: 50%;
}

.checkbox input[type="checkbox"]:checked+span::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 1px;
	width: 21px;
	height: 7px;
	background-color: transparent;
	border: 5px solid #c1c1c1;
	border-width: 0 0 5px 5px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.radio input[type="radio"]:checked+span::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 6px;
	width: 9px;
	height: 9px;
	background-color: #c1c1c1;
	border-radius: 50%;
}

.form-sidebar button[type="submit"] {
	width: 140px;
	padding: 10px 0;
	font-family: inherit;
	font-size: 13px;
	text-align: center;
	text-transform: inherit;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

.form-sidebar button[type="submit"]:hover {
	background-color: #c1c1c1;
}

label[for="radio-2"] {
	margin-bottom: 84px;
}

.inner-catalog-items {
	margin-left: 240px;
}

.catalog-items-bar {
	position: relative;
	margin-bottom: 20px;
	padding: 12px 19px;
	text-transform: uppercase;
	color: #000;
	background-color: #f7f3ec;
	border-radius: 3px;
}

.catalog-items-bar span:first-of-type {
	margin-right: 140px;
}

.catalog-items-bar a {
	text-decoration: none;
	color: #acaaa5;
	border-bottom: 1px dotted #ee3643;
}

.catalog-items-bar .price-sort {
	margin-right: 71px;
}

.catalog-items-bar .type-sort {
	margin-right: 64px;
}

.catalog-items-bar .active-sort {
	color: #ee3643;
	border: none;
}

.arrow-up,
.arrow-down {
	position: absolute;
	top: 14px;
	display: inline-block;
	vertical-align: top;
	border-style: solid;
	border-color: #c6c2bd;
	border-right-color: transparent;
	border-left-color: transparent;
}

.arrow-up {
	right: 49px;
	border-width: 0px 5px 10px 5px;
}

.arrow-down {
	right: 17px;
	border-width: 10px 5px 0px 5px;
}

.inner-catalog-items .index-items {
	margin-bottom: 52px;
}

.inner-catalog-items .index-item {
	margin: 0;
}

.inner-catalog-items .index-item:not(:nth-child(3n)) {
	margin-right: 20px;
}

.inner-catalog-items .index-item:not(:nth-child(n+7)) {
	margin-bottom: 20px;
}

.inner-catalog-items .index-item:nth-child(3n) span {
	margin-top: 33px;
}

.pagination {
	font-size: 0;
}

.pagination a,
.pagination span {
	display: inline-block;
	margin-right: 10px;
	padding: 11px 16px;
	vertical-align: top;
	font-size: 13px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

span.paginator-active {
	color: #fff;
	background-color: #ee3643;
	border: none;
}

.title-desc {
	padding: 70px;
	background-color: #f2f6f8;
}

.title-desc h2 {
	margin: 0;
	margin-bottom: 30px;
	font-size: 30px;
	text-transform: uppercase;
}

.title-desc p {
	margin: 0;
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
}
